@model IEnumerable<FlorynType1.Models.Author>

@{
    ViewData["Title"] = "Home";
    
}


<p>Total Authors:  @ViewData["AuthorCount"]</p>
<p>Total Books:  @ViewData["BookCount"]</p>


@* 
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Number of authors : @authorCount  </p>
</div>
 *@